<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto Ecossistema</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Projeto Ecossistema</h1>

    <form action="/ligar" method="post">
        <button type="submit">Liga</button>
    </form>

    <form action="/desligar" method="post">
        <button type="submit">Desliga</button>
    </form>

    <a href="/outro_broker">
        <button type="button">Outro Broker</button>
    </a>

</body>
</html>