<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Outro Broker</title>

    <link rel="stylesheet" href="/static/css/outro.css">
</head>
<body>

    <h1>Controle do Outro Broker</h1>

    <form action="/ligar_outro" method="post">
        <button type="submit">Liga</button>
    </form>

    <form action="/desligar_outro" method="post">
        <button type="submit">Desliga</button>
    </form>

    <a href="/">
        <button type="button">Voltar</button>
    </a>

</body>
</html>